In [1]:
import yfinance as yf

##### Download Microsoft Stock price from Nov 2022 to Nov 2025

In [2]:
Microsoft = yf.download(
            tickers="MSFT", start="2022-11-01", end="2025-11-01", 
            interval="1d", multi_level_index=False)
Microsoft.reset_index(inplace=True) 
Microsoft.index = range(1, len(Microsoft) + 1)

C:\Users\phanc\AppData\Local\Temp\ipykernel_19288\127662335.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  Microsoft = yf.download(
[*********************100%***********************]  1 of 1 completed

In [3]:
Microsoft.head()
# Microsoft[Microsoft['Date'].dt.year == 2025]

        Date       Close        High         Low        Open    Volume
1 2022-11-01  222.631744  230.018009  221.812137  228.905680  30592300
2 2022-11-02  214.757614  225.685758  214.699058  223.890424  38407000
3 2022-11-03  209.049591  215.060075  208.786141  214.747835  36633900
4 2022-11-04  216.016312  216.211454  208.249514  212.269522  36789100
5 2022-11-07  222.339005  222.865906  215.908964  216.601737  33498000

##### Download Amazone Stock price from Nov 2022 to Nov 2025

In [4]:
Amazone = yf.download(
            tickers="AMZN", start="2022-11-01", end="2025-11-01", 
            interval="1d", multi_level_index=False)
Amazone.reset_index(inplace=True) 
Amazone.index = range(1, len(Amazone) + 1)

C:\Users\phanc\AppData\Local\Temp\ipykernel_19288\1899416649.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  Amazone = yf.download(
[*********************100%***********************]  1 of 1 completed

In [5]:
Amazone.head()

        Date      Close        High        Low        Open     Volume
1 2022-11-01  96.790001  104.580002  96.059998  103.989998  153370000
2 2022-11-02  92.120003   97.739998  92.010002   97.320000  135761800
3 2022-11-03  89.300003   93.500000  89.019997   92.470001  136683300
4 2022-11-04  90.980003   92.440002  88.040001   91.489998  129101300
5 2022-11-07  90.529999   92.099998  89.040001   91.949997   77495700

##### Download Oracle Stock price from Nov 2022 to Nov 2025

In [6]:
Oracle = yf.download(
            tickers="ORCL", start="2022-11-01", end="2025-11-01", 
            interval="1d", multi_level_index=False)
Oracle.reset_index(inplace=True) 
Oracle.index = range(1, len(Oracle) + 1)

C:\Users\phanc\AppData\Local\Temp\ipykernel_19288\1528920869.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  Oracle = yf.download(
[*********************100%***********************]  1 of 1 completed

In [7]:
Oracle.head()

        Date      Close       High        Low       Open   Volume
1 2022-11-01  74.299438  76.342170  73.557500  75.735128  7753000
2 2022-11-02  72.382004  74.607806  72.276013  73.856237  7524300
3 2022-11-03  72.295258  72.931205  71.350981  71.996559  6761200
4 2022-11-04  73.229912  73.875490  71.534059  73.172101  7219000
5 2022-11-07  73.942947  74.280189  72.738508  73.335913  5394300

##### Download NVIDIA Stock price from Nov 2022 to Nov 2025

In [8]:
NVIDIA = yf.download(
            tickers="NVDA", start="2022-11-01", end="2025-11-01", 
            interval="1d", multi_level_index=False)
NVIDIA.reset_index(inplace=True) 
NVIDIA.index = range(1, len(NVIDIA) + 1)

C:\Users\phanc\AppData\Local\Temp\ipykernel_19288\2934426248.py:1: FutureWarning: YF.download() has changed argument auto_adjust default to True
  NVIDIA = yf.download(
[*********************100%***********************]  1 of 1 completed

In [9]:
NVIDIA.head()

        Date      Close       High        Low       Open     Volume
1 2022-11-01  13.526750  13.908291  13.502778  13.794428  432817000
2 2022-11-02  13.203137  14.192948  13.195148  13.833381  672628000
3 2022-11-03  13.404894  13.764462  12.940453  13.027348  500065000
4 2022-11-04  14.139012  14.211925  13.680563  13.969216  612576000
5 2022-11-07  14.283839  14.394706  13.937256  14.210927  410061000

In [ ]:
# Microsoft.to_excel("MSFT_SP2225.xlsx", index=False)
# Amazone.to_excel("AMZN_SP2225.xlsx", index=False)
# Oracle.to_excel("ORCL_SP2225.xlsx", index=False)
# NVIDIA.to_excel("NVDA_SP2225.xlsx", index=False)